:root {
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    flex-direction: row;
    align-self: auto;
    align-items: center;
    display: flex;
}

.weapon-slot {
    flex-basis: auto;
    flex-grow: 1;
}

.slot-number {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.unity-tab__header-underline {
    display: none;
}

.unity-tab__header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: white;
    border-width: 2px;
    color: black;
    background-color: white;
}

#outer-tab-view > .unity-tab-view__content-viewport .unity-tab__header:checked {
    background-color: rgb(34, 34, 34);
    color: white;
}

.inner-tab-view > .unity-tab-view__content-viewport .unity-tab__header:checked {
    background-color: rgb(82, 82, 82);
    color: white;
}

.weapon-slot-image {
    max-height: 20%;
}

.inventory {
    flex-grow: 1;
    width: 100%;
    height: auto;
    max-height: none;
    background-color: rgba(55, 55, 55, 0.784);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    padding-top: 1.5%;
    padding-right: 2.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    margin-top: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
    flex-basis: 0;
}

.outer-tab {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.inner-tab {
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(82, 82, 82);
}

.outer-tab-view {
}

.inner-tab-view {
}

.white-button-transition {
    transition-property: background-color, color, scale;
    transition-duration: 0.2s, 0.2s, 0.25s;
}

.white-button-transition:hover {
    background-color: rgb(48, 48, 48);
    color: white;
    scale: 1.15;
}

.white-button-transition:active {
    background-color: rgb(82, 82, 82);
    color: white;
    scale: 1.1;
}

.equip-button {
    width: 75%;
    align-self: center;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
    -unity-font-style: normal;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(255, 255, 255);
}

#close-button {
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.25s;
    background-color: rgb(255, 0, 0);
}

#close-button:hover {
    background-color: rgb(90, 0, 0);
    scale: 1.15;
}

#close-button:active {
    background-color: rgb(219, 90, 90);
    scale: 1.05;
}

.weapon-inventory-card {
}

.weapon-inventory__image {
    min-height: auto;
    margin-bottom: 10px;
    padding-top: 0;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.weapon-inventory-card {
    flex-grow: 1;
    min-height: 50px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: rgb(180, 180, 180);
    width: 100%;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    margin-bottom: 5px;
}

.weapon-inventory__title {
    -unity-font-style: bold;
    white-space: normal;
    font-size: 35px;
}

.weapon-slot__title {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    font-size: 35px;
    flex-shrink: 1;
    max-width: 100%;
}

.weapon-slot:hover > .close-button-slot {
    border-width: 2px;
    height: 30px;
    padding: 2px;
}

.close-button-slot {
    flex-grow: 1;
    max-height: 40px;
    height: 0;
    aspect-ratio: 1;
    align-self: flex-end;
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-shrink: 1;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    transform-origin: right top;
    scale: 1 1;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 1px 25px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition-property: height, padding, border-width, background-color, scale;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
    display: flex;
    opacity: 1;
    overflow: hidden;
}

.close-button-slot:hover {
    scale: 1.1;
    background-color: rgb(90, 0, 0);
}

.close-button-slot:active {
    scale: 1.05;
    background-color: rgb(219, 90, 90);
}

.weapon-inventory__btn {
    width: 70%;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    flex-shrink: 1;
    background-color: rgb(255, 255, 255);
}

.weapon-slot-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 60px;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 60px;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: none;
    flex-grow: 1;
    top: 0;
    right: 4px;
    left: 0;
    bottom: 10px;
}

.unity-slider {
    width: 100%;
    margin: 0;
    min-width: 0;
    justify-content: center;
}

.unity-base-slider--vertical .unity-base-slider__dragger {
    border-radius: 6px;
    min-height: 10px;
    height: 10px;
    width: 65%;
    left: 3px;
    right: 3px;
    margin: 0 auto;
    align-self: center;
}

.unity-base-slider--horizontal {
    min-height: 5px;
    height: auto;
}

#unity-drag-container {
    align-items: center;
}

#unity-tracker {
    background-color: rgba(200, 200, 200, 0);
}

.unity-scroller > .unity-slider__input {
    padding: 2%;
}

.unity-scroller--vertical > .unity-scroller__low-button,
.unity-scroller--vertical > .unity-scroller__high-button,
.unity-scroller--horizontal > .unity-scroller__low-button,
.unity-scroller--horizontal > .unity-scroller__high-button {
    display: none;
}

.unity-scroller {
    padding: 0.75%;
}

#properties:hover > .property-close-btn {
    padding: 4px 5px;
    border-width: 3px;
    height: 10%;
}

.property-close-btn:hover {
    background-color: rgb(90, 0, 0);
    scale: 1.1;
}

.property-close-btn:active {
    scale: 1.05;
    background-color: rgb(219, 90, 90);
}

.property-close-btn {
    max-height: 10%;
    flex-grow: 0;
    aspect-ratio: 1;
    align-self: flex-end;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 1px 25px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
    font-size: 25px;
    flex-shrink: 1;
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 0;
    transition-property: background-color, scale, height, border-width, padding;
}

.inventory-scroll-view {
}
