[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
.plastic/
.vscode/
hidden-changes.conf
*.conf
*.csproj
*.slnx
!*.meta
Assets/ThirdParty/*
!Assets/ThirdParty/**
!Assets/ThirdParty.meta
!Assets/ThirdParty/**/*.meta
