:root {
    flex-direction: row-reverse;
}

.profile-display-text {
    color: white;
}

.stat-display-text {
}

.stat-display-text {
    color: rgb(255, 255, 255);
}

.stat-display-text {
    overflow: hidden;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 17px;
}
