SlideToggle {
    padding: 5px;
    font-size: 25px;
    margin: 2px 4px 2px 4px;
}

.slide-toggle-title {
    max-width: none;
    width: auto;
    color: white;
    flex-grow: 1;
    font-size: 25px;
}

.slide-toggle__input {
    max-height: 100%;
    width: 30%;
    min-width: 75px;
    padding: 5%;
    justify-content: center;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    margin-left: 10%;
    flex-grow: 1;
    flex-shrink: 1;

    transition-property: background-color;
    transition-duration: 0.3s;
}

.slide-toggle__input--checked > .slide-toggle__input-knob {
    align-self: flex-end;
}

.slide-toggle__input-knob {
    height: auto;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1;

    transition-property: translation;
    transition-duration: 0.2s;
}

.slide-toggle-container {
    width: auto;
    margin-right: 1%;
}

.slide-toggle__value {
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 18px;
    -unity-text-align: middle-right;
    color: white;
    min-width: 5%;
}

.custom-int-slider {
    padding: 5px;
    margin: 2px 4px 2px 4px;
}

.custom-int-slider-title {
    font-size: 25px;
    color: white;
}

.custom-int-slider-field-container {
    flex-direction: row;
}

.custom-int-slider__input {
    min-width: 20px;
    width: 95%;
    flex-grow: 1;
    flex-shrink: 1;
}

.custom-int-slider__input-field {
    flex-grow: 1;
    flex-shrink: 1;
    focusable: false;
}

.custom-int-slider__input-field > #unity-text-input {
    border-width: 3px;
    border-color: rgb(0,0,0);
    border-radius: 7px;
}

.custom-int-slider__input #unity-dragger {
    border-radius: 4px;
}

.custom-int-slider__input #unity-dragger:hover {
    border-width: 2px;
    border-color: black;
    scale: 1.2;
}

.custom-int-slider__input #unity-tracker {
    border-radius: 3px;
    background-color: rgb(25,25,25);
}